<div class="bg w-full h-screen text-white flex justify-between ">
    <div class="w-[550px] h-[500px] bg-white text-black rounded-xl p-10 flex flex-col items-center m-auto">
<%= form_with scope: :user, class: "w-full", url:new_account_path, local: true do |form|%>

    <div class="mt-5">
    <%= form.label "Email", class: "block text-[#01161E]" %>
    <%= form.text_field :email, placeholder: "Juan@gmail.com", class: "rounded border-gray-200 w-full font-semibold border p-2 font-thin" %>
    </div>

    <div class="mt-5">
    <%= form.label "Password", class: "block text-[#01161E]" %>
    <%= form.password_field :password, placeholder: "Password", class: "rounded border-gray-200 w-full font-semibold border p-2 font-thin" %>
    </div>

    <div class="mt-5">
    <%= form.label "Password Confirmation", class: "block text-[#01161E]" %>
    <%= form.password_field :password_confirmation, placeholder: "Password Confirmation", class: "rounded border-gray-200 w-full font-semibold border p-2 font-thin" %>
    </div>

    <div class="mt-5">
    <%= form.submit "Sign Up", class: 'rounded text-white w-full p-2 cursor-pointer bg-[#01161E] hover:bg-[#22414d]' %>
    </div>
<% end %>
<p class="mt-5">Already have an account? <%= link_to "Sign in here", signin_path, class: "cursor-pointer font-semibold text-[#01161E] hover:text-[#22414d]" %></p>
    </div>
</div>