<div class="bg h-screen w-full text-black relative">
    <%= render "partials/navbar"%>
    <div class="flex flex-row">
        <%= render "partials/sidebar"%>
        <div class="flex flex-col">
            <h1 class="text-center text-5xl mt-5">Stocks</h1>
                <table class="table-auto border border-slate-500 ml-5 ">
                
                    <thead>
                        <tr>
                            <th class="border border-slate-600 py-3 px-2">Company Name</th>
                            <th class="border border-slate-600 py-3 px-2">Avg Total Volume</th>
                            <th class="border border-slate-600 py-3 px-2">Market Cap</th>
                            <th class="border border-slate-600 py-3 px-2">Latest Price</th>
                            <th class="border border-slate-600 py-3 px-2">Change Percent</th>
                            <th class="border border-slate-600 py-3 px-2">Symbol</th>
                            <th class="border border-slate-600 py-3 px-2" colspan='3'>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @mostactive.each do |data| %>
                        <tr class="hover:text-white">
                            <td class="border border-slate-700 py-3 px-6 text-xl"><%= data.company_name %></td>
                            <td class="border border-slate-700 py-3 px-6 text-xl"><%= data.avg_total_volume%></td>
                            <td class="border border-slate-700 py-3 px-6 text-xl"><%= data.market_cap %></td>
                            <td class="border border-slate-700 py-3 px-6 text-xl"><%= data.latest_price %></td>
                            <td class="border border-slate-700 py-3 px-6 text-xl"><%= data.change_percent_s %></td>
                            <td class="border border-slate-700 py-3 px-6 text-xl"><%= data.symbol %></td>
                            <td class="border border-slate-700 py-3 px-6 text-xl"><%= link_to "Buy", transactions_buy_path(data.symbol) %> 
                            <td class="border border-slate-700 py-3 px-6 text-xl"><%= link_to "Sell", transactions_sell_path(data.symbol)%></td>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>

        </div>
    </div>
</div>