<div class="bg h-screen w-full text-black relative">
    <%= render "partials/navbar"%>
    <div class="flex flex-row">
        <%= render "partials/sidebar"%>
        <div class="flex flex-col w-[1200px] mx-auto">
            
            <div class="w-full">
                <%= form_with model: @transaction, url: transactions_buy_path, local: true do |f| %>
                <h1 class="text-center text-5xl mt-5">Buy Stock</h1>
                <div class="">

                    <div class="">
                        <%= f.label "Quantity", class: "block text-2xl"%>
                        <%= f.number_field :quantity, class: "w-full rounded text-2xl p-4"%>
                    </div>

                    <div class="mt-5">
                        <%= f.label "Price", class: "block text-2xl" %>
                        <%= f.number_field :price, value: @quote.latest_price, class: "w-full rounded text-2xl p-4" %>
                    </div>

                    <div class="mt-5">
                        <%= f.label "Company Name", class: "block text-2xl"%>
                        <%= f.text_field :company_name, value: @quote.company_name , class: "w-full rounded text-2xl p-4" %>
                    </div>

                    <div class="mt-5">
                        <%= f.label "Symbol", class: "block text-2xl"%>
                        <%= f.text_field :symbol, value: params[:symbol] , class: "w-full rounded text-2xl p-4" %>
                    </div>

                    <div class="mt-5">
                        <%= f.submit "Buy", class: 'rounded bg-[#01161E] text-2xl text-white p-2 cursor-pointer w-full hover:bg-[#22414d]' %>
                    </div>

                    <% end %>
                </div>

            </div>
        </div>
    </div>
</div>